<!DOCTYPE html>
<html lang="en">
<head>
 <title>Signup</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="style.css">
</head>
<body>
  <% if (messages.error) { %>
    <div class="alert alert-danger">
      <%= messages.error %>
    </div>
  <% } %>
  
  <header class="top-bar">
    <div class="container">
      <div class="center-name">
        <h1>Shine<span> Auto</span></h1>
      </div>
      <div class="opening-hours">
        <h3>Opening Hours</h3>
        <p>Mon - Fri, 9:00 AM - 8:00 PM</p>
      </div>
      <div class="contact-info">
        <h3>Call Us</h3>
        <p>+0231 629941</p>
      </div>
    </div>
  </header>

<div class="container">
 <h2>Signup</h2>
 <form action="/signup" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="userName" placeholder="Enter username" name="userName" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

    <div>
        <p>Already have an account ?</p>
        <a href="/login">Login</a>
    </div>
 </form>
</div>
<footer>
  <div class="container">
    <p>&copy; 2025 Shine Auto</p>
  </div>
</footer>
</body>
</html>
